* {
    border: none;
    border-radius: 0;
    font-weight: 300;
    font-family: 'Jetbrains Mono';
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #F9F9F9;
    opacity: 0.6;
    color: #222222;
    border-bottom: 2px solid #A7A9AC;
}

tooltip {
    background: #F9F9F9;;
    opacity: 0.6;
    border-radius: 10px;
    border: none;
}

tooltip label {
    font-family: 'Jetbrains Mono';
    font-size: 14px;
    text-shadow: none;
    color: #222222;
}

#workspaces button {
    padding: 0 0.75em;
    background: transparent;
    color: #A7A9AC;
}

#workspaces button:hover {
    background: #F9F9F9;
    opacity: 0.6;
    color: #005288;
}

#workspaces button.active {
    color: #222222;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 7px;
    margin: 1px 8px 1px 0px;
}

#clock {
    font-weight: 600;
}

#battery {
}

#battery.charging {
    color: forestgreen;
}

@keyframes blink {
    to {
        background-color: #F9F9F9;
        color: #e4002b;
    }
}

#battery.warning:not(.charging) {
    color: #F9F9F9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #e4002b;
    color: #F9F9F9;
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}
